.row
{
    display: flex;
}

.rowColumn1
{
    width: 50%;
}

.header
{
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid gray;
}

.back
{
    padding-left: 5px;
}

.favorite
{
    padding-right: 5px;
}