.main
{
    display: flex;
    flex-direction: column;
    width: 50%;    
    box-sizing: border-box;
    padding: 5px;
}

.marginBox
{
    border: 1px solid gray;    
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 1px 1px 2px 0px #bcbcbc;
}

.tempLabel
{
    font-size: 30px;        
}

.tempValue
{    
    font-size: 26px;
}

.tempTimeStamp
{
    font-size: 12px;
}
